.flexContainer {
  display: flex;
  height: 80dvh;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    align-items: center;
    flex-direction: column;
  }
}

.flexContainer div {
  margin: 20px;
}
